In [1]:
path = '../../../../data/EIA/energy_generation_2024.parquet'

In [2]:
import pandas as pd
df = pd.read_parquet(path).query('respondent == "CAL"')
df

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2024-12-31T00,CAL,California,COL,Coal,504,megawatthours
1,2024-12-31T00,CAL,California,NG,Natural Gas,7786,megawatthours
...,...,...,...,...,...,...,...
145604,2024-01-01T00,CAL,California,WAT,Hydro,2246,megawatthours
145605,2024-01-01T00,CAL,California,WND,Wind,98,megawatthours

In [3]:
df['period'] = pd.to_datetime(df['period'], format='%Y-%m-%dT%H')
df['period'] = df['period'].dt.tz_localize('UTC').dt.tz_convert('America/Los_Angeles')
df = df[['period', 'type-name', 'value']].copy()
df.columns = ['period', 'technology', 'energy']
df.energy = df.energy.astype(float)
df.set_index('period', inplace=True)

df

                            technology  energy
period
2024-12-30 16:00:00-08:00         Coal   504.0
2024-12-30 16:00:00-08:00  Natural Gas  7786.0
...                                ...     ...
2023-12-31 16:00:00-08:00        Hydro  2246.0
2023-12-31 16:00:00-08:00         Wind    98.0

[70040 rows x 2 columns]

In [4]:
df.to_parquet(path.replace('.parquet', '_preprocessed.parquet'))

In [5]:
path = '../../../../data/EIA/energy_generation_2024.parquet'

In [9]:
import pandas as pd
df = pd.read_parquet(path).query('respondent == "US48"')
df

,period,respondent,respondent-name,fueltype,type-name,value,value-units
8,2024-12-31T00,US48,United States Lower 48,BAT,Battery storage,3140,megawatthours
9,2024-12-31T00,US48,United States Lower 48,COL,Coal,74661,megawatthours
...,...,...,...,...,...,...,...
145612,2024-01-01T00,US48,United States Lower 48,WAT,Hydro,31141,megawatthours
145613,2024-01-01T00,US48,United States Lower 48,WND,Wind,36489,megawatthours

In [10]:
df['period'] = pd.to_datetime(df['period'], format='%Y-%m-%dT%H')
df['period'] = df['period'].dt.tz_localize('UTC').dt.tz_convert('America/New_York')
df = df[['period', 'type-name', 'value']].copy()
df.columns = ['period', 'technology', 'energy']
df.energy = df.energy.astype(float)
df.set_index('period', inplace=True)

df

                                technology   energy
period
2024-12-30 19:00:00-05:00  Battery storage   3140.0
2024-12-30 19:00:00-05:00             Coal  74661.0
...                                    ...      ...
2023-12-31 19:00:00-05:00            Hydro  31141.0
2023-12-31 19:00:00-05:00             Wind  36489.0

[75574 rows x 2 columns]

In [11]:
df.to_parquet(path.replace('.parquet', '_preprocessed_us48.parquet'))